@model AgroFood.Models.SanPham


@{
    ViewBag.Title = "ThemMoiSP";
    Layout = "~/Areas/Admin/Views/Shared/Layout_admin.cshtml";
}

<main>
    <section class="service_section">
        <div class="container">

            <h2>Thêm Mới</h2>

            @using (Html.BeginForm("ThemMoiSP", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Sản Phẩm</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="control-label col-md-2">Chọn Loại Hàng</label>
                        <div class="col-md-10">
                            <select class="form-control" name="LoaiHang" id="ddlLoaiHang">
                                <option>--Chọn--</option>
                                @foreach (var item in ViewBag.DanhSachLH)
                                {
                                    <option value="@item.MaLH">@item.TenLH</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Chọn Mặt Hàng</label>
                        <div class="col-md-10">
                            <select class="form-control" name="MatHang" id="ddlMatHang">
                                <option>--Chọn--</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.TenSP, "Tên Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GiaBanSP, "Giá Bán Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GiaBanSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiaBanSP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Chọn Nhà Cung Cấp</label>
                        <div class="col-md-10">
                            <select class="form-control" name="NhaCungCap" id="">
                                <option>--Chọn--</option>
                                @foreach (var item in ViewBag.DanhSachNCC)
                                {
                                    <option value="@item.TenNCC">@item.TenNCC</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.TrongLuong, "Trọng Lượng", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TrongLuong, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TrongLuong, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MoTaSP, "Mô Tả Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MoTaSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MoTaSP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SoLuongT, "Số Lượng Tồn", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SoLuongT, new { htmlAttributes = new { @class = "form-control", } })
                            @Html.ValidationMessageFor(model => model.SoLuongT, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Hình Ảnh</label>
                        <div class="col-md-10">
                            <input type="file" name="fileAnh" />
                            @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Hình Ảnh Khác</label>
                        <div class="col-md-10">
                            <input type="file" name="fileAnh1" />
                            @Html.ValidationMessageFor(model => model.HinhAnh1, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </section>
</main>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Sự kiện khi thay đổi dropdown Loại Hàng
        $("#ddlLoaiHang").change(function () {
            // Lấy giá trị đã chọn
            var selectedLoaiHang = $(this).val();

            // Gọi hàm để load danh sách Mặt Hàng tương ứng
            loadMatHang(selectedLoaiHang);
        });
    });

    // Hàm để load danh sách Mặt Hàng tương ứng
    function loadMatHang(selectedLoaiHang) {
        // Gọi AJAX để lấy danh sách Mặt Hàng
        $.ajax({
            type: "GET",
            url: "/SanPham/GetMatHang", // Đặt đúng đường dẫn của Action trong Controller của bạn
            data: { loaiHang: selectedLoaiHang },
            success: function (data) {
                // Xóa tất cả các option hiện tại trong dropdown Mặt Hàng
                $("#ddlMatHang").empty();

                // Thêm các option mới từ dữ liệu trả về
                $.each(data, function (index, item) {
                    $("#ddlMatHang").append($("<option>").text(item.TenMH).val(item.TenMH));
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>