@model IEnumerable<THNN.Models.KhachHang>


@{
    ViewBag.Title = "Danh Sách Khách Hàng";
    Layout = "~/Areas/Admin/Views/Shared/Layout_admin.cshtml";
}

<main>
    <section class="service_section">
        <div class="container-fluid">

            <h2>Danh sách khách hàng</h2>

            <p>
                <a href="~/Admin/KhachHang/ThemMoiKH">Thêm mới</a>
            </p>
            <table class="table">
                <tr>
                    <th>
                        Mã Khách Hàng
                    </th>
                    <th>
                        Họ Tên Khách Hàng
                    </th>
                    <th>
                        Ngày Sinh
                    </th>
                    <th>
                        Giới Tính
                    </th>
                    <th>
                        Địa Chỉ
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Số Điện Thoại
                    </th>
                    <th>
                        Hình Ảnh
                    </th>
                    <th>
                        Tài Khoản
                    </th>
                    <th>
                        Mật Khẩu
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    DateTime? date = item.NgaySinh;
                    string ngaySinh = date?.ToString("dd-MM-yyyy");
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaKH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoTen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => ngaySinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GioiTinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDT)
                        </td>
                        <td>
                            <img src="@item.HinhAnhKH" style="height:50px;width:50px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaiKhoan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatKhau)
                        </td>
                        <td>
                            @Html.ActionLink("Cập nhật", "CapNhatKH", new { id = item.MaKH }) |
                            @Html.ActionLink("Xóa", "XoaKH", new { id = item.MaKH })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </section>
</main>



