

@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/LayoutUser.cshtml";

}
@section Style {
    .content {
    width: 100%;
    height: 100%px;
    background-color: #fff;
    padding-top:149px;
    }
}

@section render_history_search {

    @{
        if (@ViewBag.getControllerHome.SearchList != null)
        {
            <ul class="header_history-list">
                @foreach (var item in @ViewBag.getControllerHome.SearchList)
                {
                    <li class="header_history-item">
                        <a href="">
                            <span>@item</span>
                        </a>
                    </li>
                }
            </ul>
        }
    }

}

<div class="sales-this-week">
    <h2 class="sales-this-week__heading">TẤT CẢ SẢ PHẨM</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="sales-this-week__item">
                <div class="sales-tw__sub-list vet">
                    @{
                        if (@ViewBag.getControllerHome.DanhSachSanPham != null)
                        {

                            foreach (var item in ViewBag.getControllerHome.DanhSachSanPham)
                            {

                                var giaBanOri = item.GiaBanSP;
                                string giaBan = string.Format("{0:n0}", giaBanOri);
                                <a href="@Url.Action("DetailProduct",new { @TenSP = item.TenSP })" class="sales-tw__link">
                                    <div class="sales-tw__sub-item">
                                        <i class="far fa-heart sales-tw__sub-icon"></i>
                                        <div class="sales-tw__sub-item-img">
                                            <img src="@item.HinhAnh" alt="">
                                        </div>
                                        <div class="sales-tw__sub-item-content">
                                            <p class="sales-tw_sub-item__sub-shead">
                                                @item.TenLH
                                            </p>
                                            <h3 class="sales-tw_sub-item__sub-head">
                                                @item.TenSP
                                            </h3>
                                            <span class="sales-tw_sub-item__sub-prices">@giaBan</span>
                                        </div>

                                        <button class="sales-tw_sub-item__add">Chọn Mua</button>
                                    </div>
                                </a>

                            }
                        }
                    }





                </div>
            </div>
        </div>
    </div>

</div>
